
html{
	font-size: 60%;
	overflow-x: hidden;	
}

body{
	background: ghostwhite;
}

.container{
	max-width: 1400px;
	margin: 0 auto;
	padding: 0px;
}

.container .title{
	font-size: 30px;
	color: black;
	margin-bottom: 3px;
	text-transform: uppercase;
	text-align: center;
	padding: 10px;
}

.container .products-container{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(30px,1fr));
	gap: 30px;
}

.container .products-container .product{
	text-align: center;
	padding: 5px;
	background: white;
	box-shadow: 0.5px 1px rgba(0, 0, 0, 1.);
	outline: 2px solid black;
	outline-offset: -1.5px;
	cursor: pointer;
}
.container .products-container .product:hover{
	outline: 2px solid maroon;
	outline-offset: 0;
}

.container .products-container .product img{
	height: 250px;
	width: 250px;
}

.container .products-container .product:hover img{
	transform: scale(.9);
}

.container .products-container .product h3{
	padding: 5px 0px;
	font-size: 20px;
	color: black;
}

.container .products-container .product:hover h3{
	color: darkred;
}

.container .products-container .product .price{
	font-size: 20px;
	color: black;
}

.container .products-container .product .price:hover {
	color: maroon;
}

.products-preview{
	position: fixed;
	top: 0; left: 0;
	min-height: 100px;
	width: 100%;
	background: white;
	display: none;
	align-items: center;
	justify-content: center;
}

.products-preview .preview{
	display: none;
	padding: 2px;
	text-align: center;
	background: white;
	position: relative;margin: 2px;
	width: 40px;
}


.products-preview .preview.active{
	display: inline-block;
}

.products-preview .preview img{
	height: 30px;
}

.products-preview .preview .fa-times{
	position: absolute;
	top: 1px; right: 1.5px;
	cursor: pointer;
	color: skyblue;
	font-size: 4px;
}

.products-preview .preview .fa-times:hover{
	transform: rotate(45deg);
}

.products-preview .preview h3{
	color: burlywood;
	padding: 5px 0;
	font-size: 2.5px;
}

.products-preview .preview p{
	line-height: 1.5;
	padding: 1px 0;
	font-size: 2px;
	color: mistyrose;
}
